@font-face {
    font-family: 'JustAnotherHand';
    src: url('font/JustAnotherHand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.just-another-hand {
    font-family: 'JustAnotherHand';
}
